{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BloodBank</title>
    <link  href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">    
    <link  href="{%static 'css/home.css'%}" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <img class="logo-img" src="{% static 'images/logo.png'%}" alt="Logo">
        <a href="#" id="logo">DropOfLife</a>
        <a href="{% url 'display' %}" class="navs">Display</a>
    </div>
    <div class="content-wrapper">
                
        <form id="registration-form" method="post" action="display">
            {% csrf_token %}
        <div class="content">
            <h2>Blood Donation Registration</h2>
            <!-- fname -->
            <label for="fname">First name:</label>
            <input type="text" id="fname" placeholder="Firstname">
            <br>

            <!-- lname -->
            <label for="lname">Last name:</label>
            <input type="text" id="lname" placeholder="Lastname">
            <br>

            <!-- phone -->
            <label for="phone">Phone Number:</label>
            <input type="number" id="phone" placeholder="Phone No:">
            <br>

            <!-- email -->
            <label for="country">Email:</label>
            <input type="text" id="email" placeholder="Email">
            <br>

            <!-- address -->
            <label for="address">Address:</label>
            <textarea id="address" placeholder="Enter Your Address"></textarea>
            <br>

            <!-- bloodtype -->
            <label for="type">Blood Type:</label>
            <select id="type" name="bloodType">
                <option value="select">Select Blood type</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
            </select>
            <br>

            <!-- city -->
            <label for="city">City:</label>
            <input type="text" id="city" placeholder="City">
            <br>

            <!-- state -->
            <label for="state">State:</label>
            <input type="text" id="state" placeholder="State">
            <br>

            <!-- pincode -->
            <label for="pincode">Pincode:</label>
            <input type="number" id="pincode" placeholder="Pincode">
            <br>
            <input type="submit" class="submit" value="Add">
        </div>
    </form>
    </div>
    <script src="{%static 'js/home.js'%}"></script>
</body>
</html>
